.main-container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.punk-avatar img {
    max-width: 150px;
    border: 3px solid #EEEBD3;
    border-radius: 50%;
}

.main-title{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}